<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur alias veritatis quo laudantium soluta reiciendis! Doloribus ad ab, ipsum aspernatur consectetur dolor illum atque ullam, error in quas accusantium facere.</p>
    <button>clink me</button>
</body>
</html>